/******* Color names *********/
$color__white       : #FFFFFF;
$color__pale-white  : rgba(255,255,255,.1);
$color__black       : #000000;
$color__red         : #cb132d;
$color__green       : #228B22;

$color__border      : rgba(0,0,0,.1);

$color__panel-bg    : #E0FFFF;
$color__panel-bg-border: #BFEFFF;


$color__employee_border : #b3dce6;

$color__menu-bg     : #b3dce6;
$color__menu_text   : #239cc5;
$color__menu-hover  : #31A1CA;

$color__text        : #2d2d2d;
$color__text--quote : #828282;
$color__link        : #067aa7;

$color__black-russian : #1E1E21;

$color__dove-gray   : #6a6a6a;
$color__silver      : #CCCCCC;
$color__light-grey  : #EAEAEA;
$color__expired     : $color__red;
$color__error       : $color__red;
$color__success     : $color__green;



/*****************************/
