@import "variables";
@import "colors";
@import "mixins";


html {
    height: 100%;
    margin: 0;

    body {
        @include mq($until: l) {
            width: 100%;
            min-width: 0;
            padding: 0 10px;
        }
        height: 100%;

        .body-content {
            margin: 1rem;
        }

        iframe {
            @include mq($until: l) {
                display: block;
            }
        }

        @import "common";
    }

    .menu-items {
        li {
            min-width: 20%;
            text-align: center;

            a {
                float: none;
                padding: 0;
            }
        }
    }

    @import "password-meter";

    .content {
        min-height: 100%;
    }
    .content-inside {
        padding-bottom: 10.7rem;
    }

    .section-break {
        background: url(/assets/images/section-shadow.png) no-repeat 0 bottom;
        padding: 0;
        height: 1.9rem;
    }
    
    .hr-break {
        -webkit-box-shadow: 0px 7px 26px 1px rgba(50, 50, 50, 0.35);
        -moz-box-shadow:    0px 7px 26px 1px rgba(50, 50, 50, 0.35);
        box-shadow:         0px 7px 26px 1px rgba(50, 50, 50, 0.35);
        margin: 0 auto;
        width: 90%; 
        height: 1px; 
        background-color: #E0E0E0; 
    }


    section {

        &.testimonial {
            width: 68%;
            margin: 0 auto;

            @include mq($until: l) {
                width: 100%;
                margin-top: 24rem;
            }

            h2 {
                font-size: 2.8rem;
                color: $color__text;
                line-height: 2.8rem;
                font-family: 'Ubuntu', sans-serif;
                font-weight: $global__font-weight--semibold;
                padding-bottom: 1.2rem;

                @include mq($until: l) {
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
            p {
                padding-bottom: 1rem;
                strong {
                    font-size: 2.8rem;
                    font-family: georgia, serif;
                    position: relative;
                    top: 1rem;
                    left: -.5rem;
                }
            }
        }

        &.blog {
            @include flex-row();
            margin: 4rem auto;
            width: 68%;

            @include mq($until: l) {
                @include flex-column();
                width: 100%;
                margin: 0 auto;
            }

            .maincontent {
                @include flex-row();
                width: 80%;
                flex: 5;

                @include mq($until: l) {
                    @include flex-column();
                    width: 100%;
                    flex: 1;
                }

                .different-layouts {
                    @include mq($until: l) {
                        display: none;
                    }
                }

                div {
                    &:first-child {
                        margin-right: 1rem;
                    }
                }

                h3 {
                    @include mq($until: l) {
                        font-size: 1.7rem;
                    }
                }

                .detail {
                    padding-right: 3rem;

                    ul {
                        margin-left: 1.6rem;

                        a {
                            color: $color__link;
                            text-decoration: underline;
                        }
                    }
                }
            }

            aside {
                flex: 2;
                .widget {
                    ul {
                        @include flex-column();
                        li {
                            @include flex-row();
                            margin-bottom: .5rem;

                            .img-holder {
                                margin-right: 1rem;
                            }

                            .mobile {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &.features {
            @include flex-row();
            width: 68%;
            margin: 4rem auto;

            @include mq($until: l) {
                @include flex-column();
                width: 100%;
                margin: 0 auto;
            }

            .feature {
                padding: 0 4rem;

                div {
                    &:first-child {
                        width: 8rem;
                    }
                }
                img {
                    width: 8rem;
                    height: 8rem;
                }
                p {
                    margin-left: .8rem;
                }
            }
            .feature-content {
                @include flex-row();
            }
        }
    }




    .separator {
        width: .1rem;
        background-color: $color__white;
        margin: 0 15px;
    }

    @import "_menu";
    @import "_sliderholder";

    #header {
        height: 33rem;

        @include mq($until: l) {
            height: 26rem;
            h1 {
                margin-top: 0;
                font-size: 6rem;
                text-align: center;
                
                &.main_title {
                    font-size: 3.5rem;
                }
            }
            h3 {
                font-size: 1.8rem;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }

        .header-cnt {
            h3 {
                font-family: tahoma, arial, helvetica, serif;
                font-size: 2.1rem;
                color: $color__white;
                text-shadow: rgba(0,0,0,.5) 0 .1rem .2rem;
                line-height: 2.5rem;
            }

            a {
                &.blue-btn {
                    bottom: -.8rem;
                }
            }
        }

        .slider-holder {
            @include mq($until: l) {
                position: initial;
                display: block;
                margin-top: -20px;
                width: 100% !important;
                height: 24.3rem !important;
            }
        }
    }


    footer {

        bottom: 0;
        width: 100%;
        text-align: center;
        height: 8.7rem;
        margin-top: -8.4rem;

        #footer {
            height: auto;
        }

        .footer-nav {
            @include flex-row;
            justify-content: center;
            float: none;
            padding: 15px 0;

            a {
                color: $color__white;
                font-size: 1.1rem;
            }
        }

        .footer-bottom {
            height: auto;
            padding: 2.2rem 0;
        }
    }




    /******* Form elements *****/
    fieldset {
        display: inline-block;
    }

    .login-form-wrapper {
        padding: 15px;

        .label {
            width: 120px;
            justify-content: right;
            display: inline-block;
            align-self: center;
            padding: 0;
            margin: 2px 10px 0 0;
        }
        .field-value {
            display: inline-block;
        }

        .user-message {
            margin: 20px 0;
            text-align: center;
        }
    }

    .buttons {
        @include flex-row();

        button {
            &.disabled {
                opacity: .3;
            }
        }
    }


    .container {
        @include mq($until: m) {
            padding: 0 1rem;
        }

        ul {
            margin-left: 30px;
        }
    }

    md-input-container {
        display: flex;
        label {
            width: auto !important;
        }
        label:not(.md-container-ignore) {
            position: relative;
        }
    }

    .permissions {

        @include mq($until: l) {
            width: 100%;
        }

        .permission-selector {
            label {
                font-size: 2rem;
                font-weight: $global__font-weight--normal;
                color: $color__text;
            }
        }

        .table {
            margin-bottom: 100px;
        }

        .permission-table {
            thead {
                tr {
                    background-color: rgba(120,120,255,.1);
                }
            }
            th, td {
                width: 10%;
                text-align: center;
                margin: auto;

                &:first-child {
                    text-align: left;
                    width: 70%;
                    vertical-align: middle;
                }
            }
        }

        .button-container {
            margin: 0 auto;
            width: 8rem;
        }
    }

    @import "_employees";
    @import "_users";

    .testimonial {
        ul {
            &.container {
                width: 300px;
                box-sizing: border-box;
                border: none;
                list-style-type: none outside none;
                padding-left: 0;
                height: 300px;
                overflow: hidden;
                font-smoothing: antialiased;
                
                @include mq($until: l) {
                    width: 100%;
                }                

                li {
                    list-style: none;
                    padding: 6px 10px;
                    height: auto;
                    transition: background-color 5s linear, color 2s;
                    display: flex;
                    flex-direction: row;
                    line-height: 1.2;

                    div {
                        margin-right: 10px;
                    }
                    p {
                        color: $color__text--quote;
                    }
                    
                    @include mq($until: l) {
                        line-height: 1.7;
                        font-style: italic;
                        
                        .img-holder {
                            margin-top: 5px;
                        }
                    }                    
                }
            }
        }
    }


    /** Bootstrap overrides **/
    .alert-dismissable .close {
        top: 0;
        right: -70px;
    }

}
