<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<style>
    .search-field-wrapper { display: inline-block; width: 40%; }
    .add-new-btn {  float: right; margin: -15px 0 5px;}
    .training-course-grid { margin-top: 20px; height: 600px;}
    @media only screen and (max-width: 600px) {
        html body { padding: 0; }
        .content { padding: 0 10px; }
        .container { padding: 0 !important; }
        .search-field-wrapper { width: calc(100% - 90px); }
        .add-new-btn { width: 80px; margin-bottom: 5px; }

        #course_table th:nth-child(3),
        #course_table td:nth-child(3) { display: none;}
        #course_table td:last-child { text-align: center;}
        #course_table button { width: 49px; padding: 5px 4px; min-width: unset; }

    }


</style>

<div class="container" id="employees-div">
    <h3>Course Create / Edit</h3>

    <button class="add-new-btn btn btn-primary" ng-click="newCourse()">Add New</button>

    <div class="clear"></div>

    <div class="clear"></div>

    <div class="grid employee-grid" style="height: 600px;" external-scopes="clickHandler" ui-grid="gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui.grid.selection></div>

    <div class="userMessage">&nbsp;
        <div class="col-xs-12" ng-show="showMessage == 1">
            <div class="alert alert-success alert-dismissable">
                <i class="fa fa-check-circle-o"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ userMessage }}
            </div>
        </div>
    </div>
    <!--<div class="row" style="padding-left: 15px; padding-right: 15px; margin-top: 10px;">
        <div class="search-field-wrapper">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search..." ng-model="search">
            </div>
        </div>
        <button class="btn btn-primary add-new-btn" ng-click="newCourse()">Add New</button>
    </div>-->
    <!--<div class="row" style="margin-left: 0px; margin-right: 0px;">
        <table class="table table-striped" id="course_table">
            <thead style="background-color: #0e90d2; color: white;">
                <tr>
                    <th ng-click="sort('course_name')">Name
                        <span class="fa sort-icon" ng-show="sortKey=='course_name'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('course_description')">Description
                        <span class="fa sort-icon" ng-show="sortKey=='course_description'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('course_type')">Type
                        <span class="fa sort-icon" ng-show="sortKey=='course_type'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('course_category_name')">Category
                        <span class="fa sort-icon" ng-show="sortKey=='course_category_name'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('status')" width="150px;">Status
                        <span class="fa sort-icon" ng-show="sortKey=='status'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th width="70px;">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="course in courses|orderBy:sortKey:reverse|filter:activeFilter|itemsPerPage:10">
                    <td>
                        {{course.course_name}}
                    </td>
                    <td>
                        {{course.course_description}}
                    </td>
                    <td>
                        {{course.course_type}}
                    </td>
                    <td>
                        {{course.course_category_name}}
                    </td>
                    <td>
                        <div ng-if="course.status == 0" class="btn-group" ng-show="course.can_edit">
                            <button type="button" class="btn btn-sm btn-default btn-group-child" ng-click="activateCourse(course, 1)">Active</button>
                            <button type="button" class="btn btn-sm btn-success btn-group-child" ng-click="activateCourse(course, 0)">Inactive</button>
                        </div>
                        <div ng-if="course.status == 1" class="btn-group" ng-show="course.can_edit">
                            <button type="button" class="btn btn-sm btn-success btn-group-child" ng-click="activateCourse(course, 1)">Active</button>
                            <button type="button" class="btn btn-sm btn-default btn-group-child" ng-click="activateCourse(course, 0)">Inactive</button>
                        </div>
                    </td>
                    <td>selectedCourse
                        <a class="action-button" ng-click="editCourse(course)" ng-show="course.can_edit"><i class="fa fa-edit fa-2x" style="color: black;"></i></a>
                        <a class="action-button" ng-click="removeCourse(course)" ng-show="course.can_edit"><i class="fa fa-trash-o fa-2x text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="height: 100px; text-align: center;">
            <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>-->
</div>

<!-- updated by Alex-cobra -20-04-16 -->
<div modal="showModal" close="cancel()" style="background-color: white; width: 300px; height: 200px; margin: auto;">
    <div class="modal-header">
        <h4>Remove Confirm</h4>
    </div>
    <div class="modal-body">
        <p>Do you want to remove this course?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="remove()">Yes</button>
        <button class="btn" ng-click="cancel()">No</button>
    </div>
</div>
<!-- // // // // // -->
