/******* Color names *********/
/*****************************/
#resetpwform {
  width: 600px;
  margin: 80px auto;
  position: relative;
  text-align: center; }
  #resetpwform form {
    width: 440px;
    height: 450px;
    background: url("../images/form_bg.png") no-repeat;
    padding-top: 25px;
    margin: 0 auto; }
    #resetpwform form .buttons {
      width: 156px; }
      #resetpwform form .buttons a.btn,
      #resetpwform form .buttons button {
        width: 80px; }
    #resetpwform form .user-message {
      margin: 10px 0; }
    #resetpwform form .user-progress-message {
      margin: 10px 0;
      color: #1E1E21;
      font-size: 16px; }
    #resetpwform form .arrow {
      background: url("../images/arrow.png") no-repeat -10px 0;
      height: 120px;
      left: 214px;
      position: relative;
      top: 36px;
      width: 11px;
      /* Defining a smooth CSS3 animation for turning the arrow */
      -moz-transition: .3s;
      -webkit-transition: .3s;
      -o-transition: .3s;
      -ms-transition: .3s;
      transition: .3s;
      /* Putting the arrow in its initial position */
      -moz-transform: rotate(-134deg);
      -webkit-transform: rotate(-134deg);
      -o-transform: rotate(-134deg);
      -ms-transform: rotate(-134deg);
      transform: rotate(-134deg); }
    #resetpwform form .arrowCap {
      background: url("../images/arrow.png") no-repeat -43px 0;
      height: 20px;
      left: 208px;
      position: relative;
      top: 107px;
      width: 20px;
      z-index: 10; }
