/******* Color names *********/

/*****************************/

html {

  height: 100%;

  margin: 0;

  /******* Color names *********/

  /*****************************/

  /******* Color names *********/

  /*****************************/

  /* Sub Menus */

  /*******************************************

   Style menu for larger screens



   Using 650px (130px each * 5 items), but ems

   or other values could be used depending on other factors

********************************************/

  /** Slider Holder ***/

  /** END: Slider holder *****/

  /******* Form elements *****/

  /******* Color names *********/

  /*****************************/

  /******* Color names *********/

  /*****************************/

  /** Bootstrap overrides **/ }

  html body {

    height: 100%;

    /******* Color names *********/

    /*****************************/ }

    @media (max-width: 63.99em) {

      html body {

        width: 100%;

        min-width: 0;

        padding: 0 10px; } }

    html body .body-content {

      margin: 1rem; }

    @media (max-width: 63.99em) {

      html body iframe {

        display: block; } }

    html body h3 {

      font-size: 2rem;

      color: #2d2d2d;

      line-height: 2.2rem;

      font-family: 'Ubuntu', sans-serif;

      font-weight: 500;

      padding-bottom: .8rem; }

    html body .center {

      text-align: center; }

    html body .text-right {

      text-align: right; }

    html body .text-left {

      text-align: left; }

    html body .expired {

      color: #cb132d; }

    html body .pending {

      color: #228B22; }

  html .menu-items li {

    min-width: 20%;

    text-align: center; }

    html .menu-items li a {

      float: none;

      padding: 0; }

  html #resetpwform {

    width: 600px;

    margin: 80px auto;

    position: relative;

    text-align: center; }

    html #resetpwform form {

      width: 440px;

      height: 450px;

      background: url("../images/form_bg.png") no-repeat;

      padding-top: 25px;

      margin: 0 auto; }

      html #resetpwform form .buttons {

        width: auto; }

        html #resetpwform form .buttons a.btn,

        html #resetpwform form .buttons button {

          width: 80px; }

      html #resetpwform form .user-message {

        margin: 10px 0; }

      html #resetpwform form .user-progress-message {

        margin: 10px 0;

        color: #1E1E21;

        font-size: 16px; }

      html #resetpwform form .arrow {

        background: url("../images/arrow.png") no-repeat -10px 0;

        height: 120px;

        left: 214px;

        position: relative;

        top: 36px;

        width: 11px;

        /* Defining a smooth CSS3 animation for turning the arrow */

        -moz-transition: .3s;

        -webkit-transition: .3s;

        -o-transition: .3s;

        -ms-transition: .3s;

        transition: .3s;

        /* Putting the arrow in its initial position */

        -moz-transform: rotate(-134deg);

        -webkit-transform: rotate(-134deg);

        -o-transform: rotate(-134deg);

        -ms-transform: rotate(-134deg);

        transform: rotate(-134deg); }

      html #resetpwform form .arrowCap {

        background: url("../images/arrow.png") no-repeat -43px 0;

        height: 20px;

        left: 208px;

        position: relative;

        top: 107px;

        width: 20px;

        z-index: 10; }

  html .content {

    min-height: 100%; }

  html .content-inside {

    padding-bottom: 10.7rem; }

  html .section-break {

    background: url(/assets/images/section-shadow.png) no-repeat 0 bottom;

    padding: 0;

    height: 1.9rem; }

  html .hr-break {

    -webkit-box-shadow: 0px 7px 26px 1px rgba(50, 50, 50, 0.35);

    -moz-box-shadow: 0px 7px 26px 1px rgba(50, 50, 50, 0.35);

    box-shadow: 0px 7px 26px 1px rgba(50, 50, 50, 0.35);

    margin: 0 auto;

    width: 90%;

    height: 1px;

    background-color: #E0E0E0; }

  html section.testimonial {



    width: 100%;



    margin: 0 auto; }

    @media (max-width: 47.99em) {

      html section.testimonial {

        margin-top: 32rem; } }
    
    
    @media (min-width: 48em) and (max-width: 63.99em) {

      html section.testimonial {

        margin-top: 10rem; } }

    html section.testimonial h2 {

      font-size: 2.8rem;

      color: #2d2d2d;

      line-height: 2.8rem;

      font-family: 'Ubuntu', sans-serif;

      font-weight: 500;

      padding-bottom: 1.2rem; }

      @media (max-width: 63.99em) {

        html section.testimonial h2 {

          font-size: 1.8rem;

          text-align: center; } }

    html section.testimonial p {

      padding-bottom: 1rem; }

      html section.testimonial p strong {

        font-size: 2.8rem;

        font-family: georgia, serif;

        position: relative;

        top: 1rem;

        left: -.5rem; }

  html section.blog {
      
    margin: 4rem auto;

    width: 100%; }

    html section.blog .blog-container{
      
       display: flex;
       
       flex-direction: row;}
    
    @media (max-width: 63.99em) {

      html section.blog .blog-container{
      
       display: flex;
       
       flex-direction: column;} }

    @media (max-width: 63.99em) {

      html section.blog {

        display: flex;

        flex-direction: column;

        margin: 0 auto; } }

    html section.blog .maincontent {

      display: flex;

      flex-direction: row;

      width: 80%;

      flex: 5; }

      @media (max-width: 63.99em) {

        html section.blog .maincontent {

          display: flex;

          flex-direction: column;

          width: 100%;

          flex: 1; } }

      @media (max-width: 63.99em) {

        html section.blog .maincontent .different-layouts {

          display: none; } }

      html section.blog .maincontent div:first-child {

        margin-right: 1rem; }

      @media (max-width: 63.99em) {

        html section.blog .maincontent h3 {

          font-size: 1.7rem; } }

      html section.blog .maincontent .detail {

        padding-right: 3rem; }

        html section.blog .maincontent .detail ul {

          margin-left: 1.6rem; }

          html section.blog .maincontent .detail ul a {

            color: #067aa7;



            text-decoration: no underline; }



    html section.blog aside {

      flex: 2; }

      html section.blog aside .widget ul {

        display: flex;

        flex-direction: column; }

        html section.blog aside .widget ul li {

          display: flex;

          flex-direction: row;

          margin-bottom: .5rem; }

          html section.blog aside .widget ul li .img-holder {

            margin-right: 1rem; }

          html section.blog aside .widget ul li .mobile {

            display: none; }

  html section.features {

    width: 100%;

    margin: 4rem auto; }

    @media (max-width: 63.99em) {

      html section.features {

        margin: 0 auto; } }
        
    html section.features .features-list {
        
        display: flex;

        flex-direction: row;
    }
    
    
    @media (max-width: 47.99em) {

      html section.features .features-list {

        flex-direction: column; } }
    
    html section.features .feature {

      padding: 0 2rem; }

      html section.features .feature div:first-child {

        width: 8rem; }

      html section.features .feature img {

        width: 8rem;

        height: 8rem; }

      html section.features .feature p {

        margin-left: .8rem; }

    html section.features .feature-content {

      display: flex;

      flex-direction: row; }

  html .separator {

    width: .1rem;

    background-color: #FFFFFF;

    margin: 0 15px; }

  html .top-nav .shell {

    height: 59px; }

  @media (max-width: 63.99em) {

    html .top-nav {

      margin: 5px 0; } }

  html #header {

    margin-top: 0; }

    html #header .main_title {

      color: #FFFFFF;

      font-size: 6.5rem;

      font-weight: 700; }

    html #header .main_subtitle {

      color: #FFFFFF;

      font-size: 2.3rem;

      text-shadow: rgba(0, 0, 0, 0.5) 0 0.1rem 0.2rem; }

    html #header .mobile {

      color: #FFFFFF;

      font-size: 1.2rem;

      text-shadow: rgba(0, 0, 0, 0.5) 0 0.1rem 0.2rem; }

  html menu {

    margin-top: -1rem; }

    /* updated by Alex-cobra -20-04-13
    html menu.top-nav ul {

      display: block; }*/

    
    /*updated by Alex-cobra -20-04-13 */
    @media only screen and (max-width: 767px) {

      html menu.top-nav a.nav-btn {

        display: block !important; } }
    /* // // // // // */

   
    /* updated by Alex-cobra -20-04-13 
    html menu.top-nav .non-mobile {

      display: none; }*/

      @media (min-width: 64em) {

        html menu.top-nav .non-mobile {

          display: block; } }

    html menu.top-nav .mobile {

      display: none; }

      @media (max-width: 63.99em) {

        html menu.top-nav .mobile {

          display: block; } }

    html menu.nav ul {

      list-style: none;

      background-color: #b3dce6;

      text-align: center;

      padding: 0;

      margin: 0; }

    html menu.nav li {

      font-size: 1.2em;

      line-height: 5rem;

      text-align: left; }

    html menu.nav a {

      text-decoration: none;

      text-transform: uppercase;

      color: #239cc5;

      display: block;

      padding-left: 1.5rem;

      border-bottom: 0 solid #888;

      transition: .3s background-color; }

      html menu.nav a:hover {

        background-color: #31A1CA;

        color: #FFFFFF; }

  html .nav li li {

    font-size: .8em; }

  @media screen and (min-width: 650px) {

    html {

      /* Sub Menus */ }

      html .nav li {

        width: 13rem;

        border-bottom: none;

        height: 6rem;

        line-height: 6rem;

        font-size: 1.4em;

        display: inline-block;

        margin-right: -.4rem;

        padding-top: 1rem; }

      html .nav a {

        border-bottom: none; }

      html .nav > ul > li {

        text-align: center; }

      html .nav > ul > li > a {

        padding-left: 0; }

      html .nav li ul {

        position: absolute;

        display: none;

        width: 20rem; }

      html .nav li:hover ul {

        display: block;

        z-index: 100; }

      html .nav li:hover ul a {

        display: block;

        width: 20rem; }

      html .nav li ul li {

        display: block;

        padding-top: 0; } }

  html .slider-holder {

    float: right;

    width: 50%;

    height: 32.3rem;

    background: url(images/slider.png) no-repeat 0 0;

    position: absolute;

    top: 7px;

    right: 0px;

    padding: 0;

    z-index: 1000;

    border: solid 0.1rem rgba(0, 0, 0, 0.1); }

    html .slider-holder .flexslider {

      width: 49.7rem;

      height: 33.8rem;

      position: relative; }

      html .slider-holder .flexslider ul.slides {

        list-style: none;

        list-style-position: outside;

        position: relative; }

        html .slider-holder .flexslider ul.slides li {

          width: 49.7rem;

          height: 28.8rem;

          float: left; }

          html .slider-holder .flexslider ul.slides li img {

            width: 49.7rem;

            height: 28.8rem; }

  html #header {

    height: 33rem; }

    @media (max-width: 63.99em) {

      html #header {

        height: 26rem; }

        html #header h1 {

          margin-top: 0;

          font-size: 6rem;

          text-align: center; }

          html #header h1.main_title {

            font-size: 3.5rem; }

        html #header h3 {

          font-size: 1.8rem;

          text-align: center; }

        html #header p {

          text-align: center; } }

    html #header .header-cnt h3 {

      font-family: tahoma, arial, helvetica, serif;

      font-size: 2.1rem;

      color: #FFFFFF;

      text-shadow: rgba(0, 0, 0, 0.5) 0 0.1rem 0.2rem;

      line-height: 2.5rem; }

    .header-cnt a.blue-btn {

      bottom: -.8rem; }

    @media (max-width: 47.99em) {

      html #header .slider-holder {

        position: initial;

        display: block;

        margin-top: 30px;

        width: 100% !important;

        height: 24.3rem !important; } }
    
    @media (min-width: 768px) and (max-width: 980px) {

      html #header .slider-holder {

        display: block;

        margin-top: 30px; 
          
        width: 50%!important;
        
        height: 100%!important;
        
        right: 0px; } }

  html footer {

    bottom: 0;

    width: 100%;

    text-align: center;

    height: 8.7rem;

    margin-top: -8.4rem; }

    html footer #footer {

      height: auto; }

    html footer .footer-nav {

      display: flex;

      flex-direction: row;

      justify-content: center;

      float: none;

      padding: 15px 0; }

      html footer .footer-nav a {

        color: #FFFFFF;

        font-size: 1.1rem; }

    html footer .footer-bottom {

      height: auto;

      padding: 2.2rem 0; }

  html fieldset {

    display: inline-block; }

  html .login-form-wrapper {

    padding: 15px; }

    html .login-form-wrapper .label {

      width: 120px;

      justify-content: right;

      display: inline-block;

      align-self: center;

      padding: 0;

      margin: 2px 10px 0 0; }

    html .login-form-wrapper .field-value {

      display: inline-block; }

    html .login-form-wrapper .user-message {

      margin: 20px 0;

      text-align: center; }

  html .buttons {

    display: flex;

    flex-direction: row; 
      
    justify-content: center;
  }

    html .buttons button.disabled {

      opacity: .3; }

  @media (max-width: 47.99em) {

    html .container {

      padding: 0 1rem; } }

  html .container ul {

    margin-left: 30px; }

  html md-input-container {

    display: flex; }

    html md-input-container label {

      width: auto !important; }

    html md-input-container label:not(.md-container-ignore) {

      position: relative; }

  @media (max-width: 63.99em) {

    html .permissions {

      width: 100%; } }

  html .permissions .permission-selector label {

    font-size: 2rem;

    font-weight: 400;

    color: #2d2d2d; }

  html .permissions .table {

    margin-bottom: 100px; }

  html .permissions .permission-table thead tr {

    background-color: rgba(120, 120, 255, 0.1); }

  html .permissions .permission-table th, html .permissions .permission-table td {

    width: 10%;

    text-align: center;

    margin: auto; }

    html .permissions .permission-table th:first-child, html .permissions .permission-table td:first-child {

      text-align: left;

      width: 70%;

      vertical-align: middle; }

  html .permissions .button-container {

    margin: 0 auto;

    width: 8rem; }

  html #employees-div h3 {

    font-size: 20px;

    color: #2d2d2d;

    line-height: 22px;

    font-family: 'Ubuntu', sans-serif;

    font-weight: 500;

    padding-bottom: 8px; }

  html #employees-div .ui-grid-header-cell-label {

    color: #2d2d2d;

    margin-left: 2px; }

  html #employees-div .employee-grid {

    width: 100%;

    height: 250px;

    margin-bottom: 40px;

    border-color: #b3dce6; }

    html #employees-div .employee-grid .center {

      text-align: center; }

    .red{

      color: red;

      text-align: center;

    }

    .yellow{

      color: #e6a400;

      text-align: center;

    }

    .green{

      color: #70ad47;

      text-align: center;

    }
    
    .blue{
        color: #5b9bd5;
        text-align: center;
    }

    html #employees-div .employee-grid .fa-edit {

      color: #000000;

      margin-right: 8px; }

    html #employees-div .employee-grid .fa-trash-o {

      margin-left: 8px; }

  html #employees-div .ui-grid-filter-container {

    padding: 0 5px 5px; }

  html #employees-div input[type="text"].ui-grid-filter-input {

    border-color: #b3dce6;

    border-radius: 4px;

    padding: 0 5px; }

  html #employees-div md-tabs[md-border-bottom] md-tabs-wrapper {

    border: 1px solid #b3dce6;

    padding: 5px; }

  html #employees-div .md-padding {

    padding: 0 0 20px 0; }

  html #employees-div .md-datepicker-input-container {

    padding-bottom: 0;

    border-bottom: none;

    width: 100%; }

  html #employees-div .field-container {

    display: flex;

    flex-direction: row;

    border: 1px solid #b3dce6;

    height: 34px;

    border-radius: 4px; }

    html #employees-div .field-container .field {

      width: 100%; }

    html #employees-div .field-container .icon {

      padding: 6px 12px;

      font-size: 14px;

      font-weight: normal;

      line-height: 1;

      color: #555;

      text-align: center;

      background-color: #eee;

      border: 0px solid #ccc;

      border-left: 1px solid #b3dce6;

      border-radius: 0; }

      html #employees-div .field-container .icon button {

        margin: 0;

        min-width: inherit; }

  html #employees-div input.md-datepicker-input {

    display: block;

    width: 100%;

    height: 32px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 0 solid #b3dce6;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  html #employees-div .new-emp {

    float: right;

    margin: -15px 0 5px; }

  html #employees-div .clear {

    clear: both; }

  html #employees-div .buttons {

    justify-content: center;

    margin-bottom: 30px; }

  html #employees-div .disabled {

    opacity: .9; }

  html #employees-div fieldset {

    width: 100%; }

  html #employees-div fa:hover {

    cursor: pointer; }

  html #employees-div fieldset input.ng-invalid,

  html #employees-div fieldset select.ng-invalid {

    border-color: #cb132d; }

  html #employees-div .field-container.invalid {

    border-color: #cb132d; }

  html #employees-div md-switch {

    margin: 0 0 0 1rem; }

    html #employees-div md-switch .md-bar {

      background-color: #228B22;

      opacity: .5; }

    html #employees-div md-switch .md-thumb {

      background-color: #228B22; }

    html #employees-div md-switch.md-checked .md-bar {

      background-color: #cb132d;

      opacity: .5; }

    html #employees-div md-switch.md-checked .md-thumb {

      background-color: #cb132d; }

  html #employees-div .ui-grid-row {

    height: 35px; }

  html #users-div h3 {

    font-size: 20px;

    color: #2d2d2d;

    line-height: 22px;

    font-family: 'Ubuntu', sans-serif;

    font-weight: 500;

    padding-bottom: 8px; }

  html #users-div .ui-grid-header-cell-label {

    color: #2d2d2d;

    margin-left: 2px; }

  html #users-div .user-grid {

    width: 100%;

    height: 250px;

    margin-bottom: 40px;

    border-color: #b3dce6; }

    html #users-div .user-grid .center {

      text-align: center; }

    html #users-div .user-grid .fa-edit {

      color: #000000;

      margin-right: 8px; }

    html #users-div .user-grid .fa-trash-o {

      margin-left: 8px; }

  html #users-div .ui-grid-filter-container {

    padding: 0 5px 5px; }

  html #users-div input[type="text"].ui-grid-filter-input {

    border-color: #b3dce6;

    border-radius: 4px;

    padding: 0 5px; }

  html #users-div md-tabs[md-border-bottom] md-tabs-wrapper {

    border: 1px solid #b3dce6;

    padding: 5px; }

  html #users-div .md-padding {

    padding: 0 0 20px 0; }

  html #users-div .md-datepicker-input-container {

    padding-bottom: 0;

    border-bottom: none;

    width: 100%; }

  html #users-div .field-container {

    display: flex;

    flex-direction: row;

    border: 1px solid #b3dce6;

    height: 34px;

    border-radius: 4px; }

    html #users-div .field-container .field {

      width: 100%; }

    html #users-div .field-container .icon {

      padding: 6px 12px;

      font-size: 14px;

      font-weight: normal;

      line-height: 1;

      color: #555;

      text-align: center;

      background-color: #eee;

      border: 0px solid #ccc;

      border-left: 1px solid #b3dce6;

      border-radius: 0; }

      html #users-div .field-container .icon button {

        margin: 0;

        min-width: inherit; }

  html #users-div input.md-datepicker-input {

    display: block;

    width: 100%;

    height: 32px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 0 solid #b3dce6;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  html #users-div .new-emp {

    float: right;

    margin: -15px 0 5px; }

  html #users-div .clear {

    clear: both; }

  html #users-div .buttons {

    justify-content: center;

    margin-bottom: 30px; }

  html #users-div .disabled {

    opacity: .5; }

  html #users-div fieldset {

    width: 100%; }

  html #users-div fa:hover {

    cursor: pointer; }

  html #users-div fieldset input.ng-invalid,

  html #users-div fieldset select.ng-invalid {

    border-color: #cb132d; }

  html #users-div .field-container.invalid {

    border-color: #cb132d; }

  html #users-div md-switch {

    margin: 0 0 0 1rem; }

    html #users-div md-switch .md-bar {

      background-color: #228B22;

      opacity: .5; }

    html #users-div md-switch .md-thumb {

      background-color: #228B22; }

    html #users-div md-switch.md-checked .md-bar {

      background-color: #cb132d;

      opacity: .5; }

    html #users-div md-switch.md-checked .md-thumb {

      background-color: #cb132d; }

  html #users-div .ui-grid-row, html #users-div .ui-grid-cell {

    height: 35px; }

  html .testimonial ul.container {

    width: 300px;

    box-sizing: border-box;

    border: none;

    list-style-type: none outside none;

    padding-left: 0;

    height: 300px;

    overflow: hidden;

    font-smoothing: antialiased; }

    @media (max-width: 63.99em) {

      html .testimonial ul.container {

        width: 100%; } }

    html .testimonial ul.container li {

      list-style: none;

      padding: 6px 10px;

      height: auto;

      transition: background-color 5s linear, color 2s;

      display: flex;

      flex-direction: row;

      line-height: 1.2; }

      html .testimonial ul.container li div {

        margin-right: 10px; }

      html .testimonial ul.container li p {

        color: #828282; }

      @media (max-width: 63.99em) {

        html .testimonial ul.container li {

          line-height: 1.7;

          font-style: italic; }

          html .testimonial ul.container li .img-holder {

            margin-top: 5px; } }

  html .alert-dismissable .close {

    top: 0;

    right: -70px; }

  .collapse-text-toggle {

    font-size: 0.9em;

    color: #666666;

    cursor: pointer;

  }

  .collapse-text-toggle:hover {

      color: #222222;

  }

  .collapse-text-toggle:before {

      content: '\00a0(';

  }

  .collapse-text-toggle:after {

      content: ')';

  }

/* updated by Alex-cobra -20-04-13 */
.first-menu {
  border-left: 1px solid #dbeef3
}

.alert {
  border: 2px solid transparent !important;
}

.alert-danger {
  background-color: #f9f2f2 !important;
  border-color: rgba(146, 15, 15, 0.87) !important;
  color: #000000 !important;
}

.alert-success {
  background-color: #eaf7ea !important;
  border-color: rgba(5, 138, 3, 0.87) !important;
  color: #000000 !important;
}

.alert-icon-error {
  padding-top: 3px;
  padding-right: 20px;
  font-size: 28px;
  color: rgb(197, 6, 6);
}

.alert-icon-success {
  padding-top: 3px;
  padding-right: 20px;
  font-size: 28px;
  color: #228B22;
}

.login-form-wrapper fieldset {
    width: 420px !important;
}
/* // // // // // */
.question-list{
    font-size: 13px;
}
.question-list input[type='radio']{
    width: 14px;
    height: 14px;
}