
<div id="footer">
    <!-- <span class="shadow-bottom"></span> -->
    <!-- footer-cols -->
    <div class="footer-cols">
        <!-- shell -->
        <div class="shell footer-shell">
            <div class="shell">
                <nav class="footer-nav">
                    <div><a href="#/">Home</a></div>
                    <div class="separator"></div>
                    <div><a href="#contactus">Contact Us</a></div>
                    <div class="separator"></div>
                    <div><a href="#privacy">Privacy Statement</a></div>
                    <div class="separator"></div>
                    <div><a href="#terms">Terms of Use</a></div>
                    <div class="separator"></div>
                    <div><a href="#trademarks">Trademarks</a></div>
                </nav>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <!-- end of shell -->
    </div>
    <!-- end of footer-cols -->

    <div class="clear"></div>

    <div class="footer-bottom">
        <div class="shell">
            <p class="copyl">© Copyright
                2017 - All Rights Reserved<span> | </span>HR Master</p>
        </div>
    </div>
</div>
