<header id="header" ng-show="showHeader == 1">
    <!-- shell -->
    <div class="shell">
        <div class="header-inner">
            <!-- header-cnt -->
            <div class="header-cnt">
                <h1 class="main_title">HR Master</h1>
                <h3 class="main_subtitle">Designed for Operation and HR Managers</h3>
                <p> <span class="mobile">Employment relations software designed by award winning HR professionals.</span><span class="desktop"> For businesses big and small, HR Master covers it all.</span></p>
                <a href="#login" class="blue-btn">LOGIN NOW</a> </div>
            <!-- end of header-cnt -->


            <!-- slider -->
            <div class="slider-holder">
                <iframe src="/assets/slider/slider.html" seamless style="width: 100%; height: 100%; border: none;"></iframe>
            </div>
            <!-- end of slider -->

            <div class="cl">&nbsp;</div>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
    <!-- end of shell -->
</header>
