<menu class="top-nav" ng-show="!isLoggedin">
    <div class="shell">
        <a href="javascript:void(0);" class="nav-btn" style="display: none;" ng-init="showMenu = false;" ng-click="showMenu = !showMenu;">
            MENU
            <span></span>
        </a>
        <span class="top-nav-shadow"></span>
        <ul class="menu-items non-mobile">
            <li><a href="#/" target="_self">home</a></li>
            <li><a href="#aboutus" target="_self">About Us</a></li>
            <li><a href="#solution" target="_self">solutions</a></li>
            <li><a href="#contactus" target="_self">contacts</a></li>
            <li><a href="#login" target="_self">login now</a></li>
        </ul>

        <ul ng-hide="showMenu == false"  class="menu-items mobile">
            <li><a href="#/" target="_self">home</a></li>
            <li><a href="#aboutus" target="_self">About Us</a></li>
            <li><a href="#solution" target="_self">solutions</a></li>
            <li><a href="#contactus" target="_self">contacts</a></li>
            <li><a href="#login" target="_self">login now</a></li>
        </ul>

    </div>
</menu>
