<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>
<style type="text/css">
.container {
	display: flex;
	flex-direction: column;
}
.content-item {
	display: flex;
	flex-direction: row;
	min-height: 200px;
	margin-bottom: 30px;
}
.content-item .image{
    margin: 20px;
}
@media (max-width: 767px) {
    .content-item{
        flex-direction: column;
    }
}
.description {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}
.image {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 300px;
}
img {
	box-shadow: 1px 1px 2px 2px;
	border-radius: 2px;
	width: 300px;
}
    
	
	/******* Make it responsive - check with Geoff or Bob
	img {
	max-width: 100%;
  	height: auto;
	*********/
</style>

<div class="container">
  <h2>Our Story</h2>
  <div class="content-item">
    <div class="description">
      <h3 id="our-vision">Our Vision</h3>
      <p>HR Master (HRM) is designed to be a comprehensive HR platform for human resource colleagues who do not have access to top end and expensive software programs. HRM has been designed by award winning HR professionals, employment lawyers, and specialists in learning and development, work health and safety and industrial relations fields, with the aim of giving something back to our profession, at minimal costs. </p>
      <p>HRM&rsquo;s complex framework and inbuilt technologies allow businesses and human resource colleagues to comply with even the most complex and stringent requirements whilst enjoying a premium range of HR tools.</p>
      <p>Our vision is to enhance our profession and build on the reputation of human resource professionals, by ensuring HR colleagues get the right tools for the job.</p>
    </div>
    <div class="image"> <img src="assets/images/reports.jpg" border="0" alt="Image of Reports"> </div>
  </div>
  <div class="content-item">
    <div class="description">
      <h3 id="our-history">Our History</h3>
      <p>Australia is both renowned and criticised for having one of the most complex and dynamic workplace relations systems in the world. Highly political in nature, the industrial relations landscape often changes with each consecutive government and as many HR professionals agree, is a political football field with a vast range of laws that cover employment.</p>
      <p>Over the past 20 years, our HRM team have watched the human resources landscape evolve from a simple personnel department, to a fully integrated people and culture division within the corporate world. During this time, our team have specialised in a broad range of human resources fields such as industrial relations, work health and safety, training and development and employment law generally. </p>
      <p>Working with government, and having provided specialist training on behalf of the Fair Work Ombudsman and WorkSafe/WorkCover , our staff have been in the business of educating and creating, industry leading business solutions across Australia. After winning various accolades and awards, a platform (HRM) was developed to give back to the industry.</p>
    </div>
    <div class="image"> <img src="assets/images/team.jpg" border="0" alt="Image of Team Award"> </div>
  </div>
  <div class="content-item">
    <div class="description">
      <h3 id="what-we-offer">What We Offer</h3>
      <p>Practicable HR tools at your fingertips. At HRM, we understand the employee life cycle. We also understand the many barriers and challenges human resource professionals are faced with each day. For example, operational and financial considerations may not always allow businesses to invest in suitable human resource systems. Those businesses that can, often find that the tools provided are designed for a specialised purpose (for example work health and safety or payroll) and not entirely suitable for general human resource management.</p>
      <p>HRM is designed to give colleagues  the ability to create interactive learning via its learning management systems and comply with many aspects of work health and safety laws by utilising a vast array of registers, reminders and reports. Designed with ease in mind, colleagues will be able to set up additional users,  outsource tasks and monitor many HR functions. HRM's comprehensive employee management system will give you the ability to record and edit   key employee data, while at the same time, ensuring only authorised personnel can access it.</p>
    </div>
    <div class="image"> <img src="assets/images/fingertips.jpg" border="0" alt="Practical tools at your fingertips"> </div>
  </div>
  <div class="content-item">
    <div class="description">
      <h3 id="why-we-are-different">Why We Are Different</h3>
      <p>Human resource departments are vastly complex and made up of many specialised fields. These specialised departments include training and development, work health and safety, industrial relations, workers compensation, performance management, recruitment, strategic management and arguably, payroll to name a few.</p>
      <p>Many software programs particularly the higher end platforms, specialise on a singular HR specialty and &ldquo;add-on&rdquo; additional options and features. Although many are excellent in their field, they are still limited to the core function the program was designed for. HRM is designed by award winning HR generalists, employment lawyers and specialists in many HR fields to give you a system of total staff management.</p>
      <p>This is done by not having &quot;add-ons&quot; and optimising existing core technology to integrate work health and safety, learning and development and other HR fields into one comprehensive employee management system making HRM, a solid platform for any HR professional.</p>
      <p>HRM is designed to be a end-to-end HR package at minimal costs. </p>
    </div>
    <div class="image"> <img src="assets/images/workplace.jpg" border="0" alt="Image of a workplace"> </div>
  </div>
</div>
