<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<!-- updated by Alex-cobra -20-04-13 -->
<style>
    .container-contact ul{
        padding-left: 30px;
    }
    @media (min-width: 1200px) {
        .container-contact {
            width: auto !important;
        }
    }
</style>
<!-- // // // // // -->

<div class="shell page-shell">

    <div class="container-contact">
        <h2>Contacts</h2>
        <p><strong>HRM EMAIL CONTACT DETAILS</strong></p>
        <ul>
            <li>Sales&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;<a href="mailto:haveaguess@gmail.com">sales@hrmaster.com.au</a></li>
            <li>Accounts &nbsp;|&nbsp;<a href="mailto:haveaguess@gmail.com">accounts@hrmaster.com.au</a></li>
            <li>Support&nbsp;&nbsp;&nbsp; |&nbsp;<a href="mailto:haveaguess@gmail.com">support@hrmaster.com.au</a></li>
        </ul>
        <p>
            <br>
            <br>
            <strong>OTHER HRM DETAILS</strong></p>
      <ul>
                <li>(T) - N/A&nbsp;(outbound calls only)</li>
                <li>(W) - <a href="http://www.hrmaster.com.au/">www.hrmaster.com.au</a></li>
                <li>(P) - PO Box 676, Engadine, NSW, 2233</li>
            </ul>
            <p>
                <br>
                <br>
            <strong>MEMBERSHIP</strong></p>    <p><strong>Please note we are not currently  taking on any new subscribers.</strong></p>
            <p>HRM is operated in conjunction with <a href="http://www.hrblackbook.com.au" title="HR Black Book" target="_self">HR Blackbook</a> and an <strong>invite only platform</strong>. Any colleagues wishing to subscribe must have their application sent through via an existing  HRM or HRBB Member. Additionally, it is a condition of subscription that users are  current financial members of of either the <a href="https://www.ahri.com.au" title="Australian Human Resources Institute of Australia" target="_blank">Australian Human Resources Institute</a> or the Law Society of your relevant State or Territory.            </p>
  </div>
            <!-- end of shell -->
            
            
</div>

