<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
-->
<!-- testimonial -->

<section class="testimonial">
    <div class="shell">
        <h2>Manage your human resources effectively</h2>
        <p> <strong>“</strong>HR Masters OPTRON technology has been designed by award winning leaders in employment relations and human resource management. OPTRON allows businesses to easily comply with the day to day requirements of running your human resources functions. Whether it be recruitment, training and development, work health and safety, termination or industrial relations generally, HR Master will give you the necessary tools to manage your business compliance in every area.<strong> ”</strong><span class="mobile"></span> </p>
    </div>
</section>
<div class="hr-break"></div>
<section class="blog"> 
    <div class="shell">
        <div class="blog-container">
            <!-- content -->
            <div class="maincontent">
            <div class="different-layouts"> <img src="webroot/css/images/i-img.png" alt=""> </div>
            <div class="detail">
              <h3>Designed by award winning leaders in employment relations and work health and safety</h3>
              <p>Managing your employees has never been easier. With an array of human resource registers and tools, businesses can reduce their compliance risks and obtain important metrical data. Whether your business is big or small, HR Master covers it all. </p>
              <ul>
                <li><a href="#solution/work-health-and-safety">Work Health &amp; Safety</a></li>
                <li><a href="#solution/industrial-relations">Industrial Relations</a></li>
                <li><a href="#solution/recruiment-and-training">Training &amp; Development</a></li>
                <li><a href="#solution/key-hr-metrical-data-and-reports">Key HR Metrical Data &amp; Reports</a></li>
              </ul>
            </div>
          </div>
            <!-- end of content --> 
            <!-- sidebar -->
            <aside class="sidebar"> 
            <!-- widget -->
            <div class="testimonial">
              <h3>Testimonials</h3>
              <ul class="container" drctv>
                <li>
                  <div class="img-holder"> <img src="webroot/css/images/lacasaitaliana.png" alt=""> </div>
                  <p>My business has used HRM's Injury, Asset, PPE, Hazardous Substance and Audit registers for over 5 years and they are by far, the best we have used in any software package. Well done! - Lynette Sumner (La Casa Italiana).</p>
                </li>
                <li>
                  <div class="img-holder"> <img src="webroot/css/images/AppSunderLogo.png" alt=""> </div>
                  <p>Your training system in HRM is second to none. I've used many learning and development systems throughout my years and yours nails it, at 1/4 the price. Thanks again. Rabbie Abu Zalaf (App Sunder).</p>
                </li>
                <li>
                  <div class="img-holder"> <img src="webroot/css/images/party-supplies-logo.png" alt=""> </div>
                  <p>With HRM's learning management system, I create my courses by adding videos and documents, creating questions and answers and then allocating the course to users I set up. It's so quick and easy. All my staff get their inductions and training this way. George Andrews (Party Supplies and Distributors - Melbourne).</p>
                </li>
                <li>
                  <div class="img-holder"> <img src="webroot/css/images/guteck-logo.png" alt=""> </div>
                  <p>HRM's reporting systems, user roles and reminders let me delegate key responsibilities in my business to other staff while I still stay on top of what is going on. HRM is an awesome program.  Chara Fellows (Guteck Supplies).</p>
                </li>
                <li>
                  <div class="img-holder"> <img src="webroot/css/images/healingHandsClinic.fw.png" alt=""> </div>
                  <p>HRM is an essential tool for anyone business wanting to put in place robust and holistic HR systems. I can't imagine running my business without HRM. This is the best value for money HR system I have every used. Thank you. G.R, (Healing Hands Clinic)</p>
                </li>
              </ul>
              <div class="cl">&nbsp;</div>
            </div>
            <!-- <a href="#" class="view">View All</a> --> 
            <!-- end of widget --> 
          </aside>
            <!-- end of sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
    </div>
</section>
<div class="hr-break"></div>
<section class="features">
    <div class="shell">
        <div class="features-list">
            <div class="feature">
                <h3>Work Health &amp; Safety</h3>
                <div class="feature-content">
                  <div> <img src="webroot/css/images/safety_icon.png" alt=""> </div>
                  <div class="col-cnt">
                    <p>Manage your businesses work health and safety with HRM's asset, injury, personal protective equipment, and chemical registers.</p>
                  </div>
                </div>
                <a href="#solution" class="view">View More</a> 
            </div>
            <div class="feature">
                <h3>Industrial Relations</h3>
                <div class="feature-content">
                    <div> <img src="webroot/css/images/ir_icon.png" alt=""> </div>
                    <div class="col-cnt">
                        <p>Take advantage of HRM's OPTRON technologies when ensuring your employee details, interactions and policies are  recorded and utilised. </p>
                    </div>
                </div>
                <a href="#solution" class="view">View More</a> 
            </div>
            <div class="feature">
                <h3>Training &amp; Development</h3>
                <div class="feature-content">
                    <div> <img src="webroot/css/images/classroom_icon.png" alt=""> </div>
                    <div class="col-cnt">
                        <p>Save time and money by creating your own on-line courses with HRM's learning management system.</p>
                    </div>
                </div>
                <a href="#solution" class="view">View More</a> 
            </div>
        </div>
    </div>
</section>
