<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>



<style>
    .light-blue { color: #1D77D5;}
    .dark-blue { color: #1565C0;}
    .tooltip-icon:hover{
        color: #1565C0;
    }
    .md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar { background: none; }

    fieldset { width: 100%; }

    .md-padding { padding: 0; }

    textarea { border: 1px solid #b6dde7;  width: 100%; height: 92px; border-radius: 4px; padding: 0 5px; }

    .center { text-align: center;}

    .autocomplete input { border: none; background-color: transparent; }

    

    small { font-size: 75%; font-weight: 400; opacity: .7; }

    input, select { width: 100%; }

    .time-group { display: flex; flex-direction: row; }

    .time-group select { flex: 1; }

    .time-group select:first-child { margin-right: 5px; }

    input, select, textarea { border: 1px solid #b6dde7; }

    

    .text-edit { font-size: 18px; color: #000; }

    .text-edit:hover { cursor: pointer; opacity: .7; }

    .text-danger { font-size: 18px; }

    .text-danger { cursor: pointer; opacity: .7; }    

    

    input.md-datepicker-input {

        display: block;

        width: 100%;

        height: 32px;

        padding: 6px 12px;

        font-size: 14px;

        line-height: 1.42857143;

        color: #555;

        background-color: #fff;

        background-image: none;

        border: 0 solid #b3dce6;

        border-radius: 4px;



        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    }



    .field-container { display: flex; flex-direction: row; border: 1px solid #b3dce6; height: 34px;  border-radius: 4px;    }    

    .field-container .field { width: 100%; }

    

    .field-container .icon { padding: 6px 12px; font-size: 14px; font-weight: normal; line-height: 1; color: #555; text-align: center; background-color: #eee; border: 0px solid #ccc; border-left: 1px solid #b3dce6; border-radius: 0;  }    

    .field-container .icon button { min-width: 20px; } 

    

    .radioset-wrapper { display: flex; flex-direction: row; }

    .radioset { display: flex; flex-direction: row; align-items: center; margin: 0 6px 0;}

    .radioset input[type="radio"] { margin: 0 5px 0 0; height: 16px; width: 16px; }

    

    .md-datepicker-input-container { border-bottom: none; }

    button.new-ir { float: right;  }

    md-tab-item span { opacity: 0;}

    .buttons { justify-content: center; }

    

    fieldset[disabled="disabled"] textarea,

    fieldset[disabled="disabled"] select,

    fieldset[disabled="disabled"] .field,

    fieldset[disabled="disabled"] input { background-color: #EEE;}

    

    .form-group { display: flex; align-items: center;}

    

     @media only screen and (max-width: 600px) {

         .container { padding: 0 !important; }       
         
        .mytooltip .tooltiptext{
            max-width: 300px!important;
        }

    }
    md-tooltip {height: auto; max-width: 600px!important; line-height: 18px;padding: 8px;background-color: rgb(0, 0, 0, 0.7);}
     

    .md-whiteframe-1dp, .md-whiteframe-z1 {

        box-shadow: none;

        border: 1px solid #b6dde7;

        border-radius: 6px;

        height: 36px;

    }  

    md-autocomplete input:not(.md-input) {

        height: 34px;

    }

    md-autocomplete button {

        margin-right: -20px;

    }

    

    md-virtual-repeat-container:first-child {

        background-color: red !important;

    }

    

    /*.course-supervisor md-virtual-repeat-container.md-autocomplete-suggestions-container {*/

    .md-virtual-repeat-container.md-autocomplete-suggestions-container {

        border-top: none;

        border-radius: 0;

        box-shadow: 0px 7px 14px rgba(0,0,0,.25) !important;

    }     

    

    .icon button { background-color: transparent; border: none; }

    

    .injuryregister-grid {

        height: 250px;

        margin-top: 5px;

    }

    .blue{
        color: blue;
    }
    
    .mytooltip {
      position: relative;
      display: inline-block;
    }
    
    .mytooltip .tooltiptext {
      visibility: hidden;
      max-width: 600px;
      background-color: rgb(0, 0, 0, 0.7);
      padding: 8px;
      color: #fff;
      border-radius: 6px;
      font-family: arial, sans-serif;
      font-size: 12px;
      line-height: 14px;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 100;
      left: -100px;
    }
    .mytooltip .tooltiptext a{
        color: #e69900;
    }
    .mytooltip .tooltiptext ol, .mytooltip .tooltiptext li {
        margin: 0;
        padding: 0;
    }

    .mytooltip .tooltiptext ol {
        display: table;
    }
    
    .mytooltip .tooltiptext ol >li {
        list-style: none;
        counter-increment: foo;
        display: table-row;
    }
    
    .mytooltip .tooltiptext ol >li::before {
        content: counter(foo) ".";
        display: table-cell;
        text-align: right;
        padding-right: .3em;
    }
    .mytooltip:hover .tooltiptext {
      visibility: visible;
      width: max-content;
    }
</style>



<div class="container" id="injuryregister-div">

    <h3>{{pageTitle}}</h3>



    <button class="new-ir btn btn-primary" ng-show="perms.injuryregister.write == 1" ng-click="newInjury()">New</button> 

    <div class="clear"></div>

    <div class="grid injuryregister-grid" external-scopes="clickHandler" ui-grid="gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui.grid.selection></div>



    <form name="injuryregisterform" ng-class="{'disabled': formEnabled == 0}">



    <!-- --------------- Detail area ------------->

    <md-content>

        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Injury Register">

                <md-content class="md-padding">

                    <div id="tab1" class="tab-pane fade in active">

                        <fieldset ng-disabled="formEnabled == 0">

                        <div class="col-md-12 tabborder" style="overflow: hidden;">

                            <div class="row" style="margin: 0px !important;">

                                <div class="col-md-6">
                                    
                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Employee Name</label>

                                        <div class="col-sm-8">
                                            
                                            <md-autocomplete flex required                  

                                                 md-input-name="employee_id"

                                                 md-no-cache="cs.noCache"

                                                 md-selected-item="employee"

                                                 md-search-text="cs.searchText"

                                                 md-selected-item-change="doSelectedEmployee(item)"

                                                 md-items="item in empSearch(cs.searchText)"

                                                 md-item-text="item.name"

                                                 md-require-match>

                                                 <md-item-template>

                                                     <span md-highlight-text="cs.searchText">{{item.name}}</span>

                                                 </md-item-template>

                                             </md-autocomplete>                                             

                                            

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                     </div>     



                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Date of Injury</label>

                                        <div class="col-sm-8">

                                                                                        

                                            <div class="field-container" ng-class="formEnabled==1 && ir.incident_date.$valid == false ?'invalid' : ''">

                                                <div class="field">

                                                    <md-datepicker ng-model="ir.incident_date" md-current-view="year" md-placeholder="" md-hide-icons="all" md-is-open="injdate.isOpen" ng-required="true"></md-datepicker>

                                                </div>

                                                <div class="icon">

                                                    <button ng-click="injdate.isOpen = true">

                                                        <span class="glyphicon glyphicon-calendar"></span>

                                                    </button>

                                                </div>

                                            </div>                                            

                                            

                                        </div>

                                    </div>     

                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Nature of Injury</label>

                                        <div class="col-sm-8">

                                            <select ng-model="ir.natureofinjury_id"  ng-disabled="formActive == 0" ng-init="ir.natureofinjury_id = ''" ng-required="true">

                                                <option value="">Please select..</option>

                                                <option ng-repeat="n in natureList" value="{{n.id}}">

                                                    {{n.display_text}}

                                                </option>

                                            </select>                                            

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>                                         



                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Mechanism of Injury</label>

                                        <div class="col-sm-8">

                                            <select ng-model="ir.mechanismofinjury_id" ng-disabled="formActive == 0" ng-init="ir.mechanismofinjury_id = ''" ng-required="true">

                                                <option value="">Please select..</option>

                                                <option ng-repeat="n in mechanismList" value="{{n.id}}">

                                                    {{n.display_text}}

                                                </option>

                                            </select>  

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>      

                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Risk Identification 
                                            <i class="mytooltip glyphicon glyphicon-info-sign light-blue tooltip-icon" style="font-size: 16px">
                                                <span class="tooltiptext" ng-bind-html="info_risk_identification | trustHtml"></span>
                                            </i>
                                        </label>

                                        <div class="col-sm-8">

                                            <textarea class="required" ng-model="ir.risk_identification" ng-required="true"></textarea>

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>       

                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Risk Assessment 
                                            <!--<small>(What human, machine, working conditions contributed to this incident?)</small>-->
                                            <i class="mytooltip glyphicon glyphicon-info-sign light-blue tooltip-icon" style="font-size: 16px"><span class="tooltiptext" ng-bind-html="info_risk_assessment | trustHtml"></span></i>
                                        </label>

                                        <div class="col-sm-8">

                                            <textarea class="required" ng-model="ir.risk_assessment" ng-required="true"></textarea>

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div> 

                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Risk Controls 
                                            <!--<small>(What action has or will be taken to prevent a recurrence?)</small>-->
                                            <i class="mytooltip glyphicon glyphicon-info-sign light-blue tooltip-icon" style="font-size: 16px"><span class="tooltiptext" ng-bind-html="info_risk_controls | trustHtml"></span></i>
                                        </label>

                                        <div class="col-sm-8">

                                            <textarea class="required" ng-model="ir.risk_controls" ng-required="true"></textarea>

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>
                                    <div class="form-group row">

                                        <label class="control-label col-sm-4" for="empw_position">Add to pdf, doc or msg to this entry</label>

                                        <div class="col-sm-6">



                                            <input type="file" class="file" style="visibility: hidden;position: absolute;"

                                                   file-model="myFile" name="myFile" >

                                            <div class="input-group">



                                                <input type="text" class="form-control" disabled

                                                       placeholder="Upload File" id="file_name" value="{{ir.upload_file_path != '' ? ir.upload_file_path.split('/')[ir.upload_file_path.split('/').length - 1] : '' }}">

                                                <span class="input-group-btn">

                                                                <button class="browse btn btn-primary" type="button"  ng-disabled="noteFormEnabled == false">

                                                                <i class="glyphicon glyphicon-search" ></i> Browse</button>

                                                            </span>

                                            </div>



                                        </div>

                                        <!--  Download  -->

                                        <div class="col-sm-2"  style="padding-left:0px;">

                                            <a ng-click="fileDownload()" class="btn btn-primary" ng-class="{'disabled':  downloadable_file == ''}" ng-href="../../{{downloadable_file}}" download>Download</a>

                                            <!-- <a class="btn btn-primary" ng-class="{'disabled':  downloadable_file == ''}" ng-href="assets/php/download.php?filename={{downloadable_file.split('/')[downloadable_file.split('/').length - 1]}}" target="_blank">Download</a> -->

                                        </div>

                                    </div>

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Location of Incident</label>

                                        <div class="col-sm-8">

                                            

                                            

                                            <select ng-model="ir.location_id" class="required" ng-disabled="formActive == 0" ng-init="ir.location_id = ''" ng-required="true">

                                                <option value="">Please select..</option>

                                                <option ng-repeat="l in locationList" value="{{l.id}}">

                                                    {{l.display_text}}

                                                </option>

                                            </select> 

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>
                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Site Location</label>

                                        <div class="col-sm-8">



                                            <md-autocomplete flex required

                                                             md-input-name="site_location"

                                                             md-no-cache="ew.noCache"

                                                             md-selected-item="site_location"

                                                             md-search-text="ew.searchText"

                                                             md-selected-item-change="selectSite()"

                                                             md-items="item in locationSearch(ew.searchText)"

                                                             md-item-text="item.name"

                                                             md-require-match>

                                                <md-item-template>

                                                    <span md-highlight-text="ew.searchText">{{item.name}}</span>

                                                </md-item-template>

                                            </md-autocomplete>





                                        </div>

                                    </div>

                                </div>

                                

                                <div class="col-md-6">

                                    

                                    

                                    



                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Time of Incident</label>

                                        <div class="col-sm-8 time-group">

                                            <select ng-model="injury_hh" aria-label="Time HH" class="required" ng-disabled="formActive == 0" ng-init="injury_hh = '00'" ng-required="true">

                                                <option ng-repeat="h in hhList" value="{{h}}">

                                                    {{h}}

                                                </option>

                                            </select>



                                            <select ng-model="injury_mm" aria-label="Time MM" class="required" ng-disabled="formActive == 0" ng-init="injury_mm = '00'" ng-required="true">

                                                <option ng-repeat="m in mmList" value="{{m}}">

                                                    {{m}}

                                                </option>

                                            </select>

                                        </div>

                                    </div>
                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Time Lost</label>

                                        <div class="col-sm-8 time-group">
                                            <span>D:</span>

                                            <select style="margin-left: 10px; flex: 0.8;" ng-model="injury_tlhh" aria-label="Time HH" class="required" ng-disabled="formActive == 0" ng-init="injury_tlhh = '0'">

                                                <option ng-repeat="d in ddList" value="{{d}}">

                                                    {{d}}

                                                </option>

                                            </select>

                                            <span style="margin-left: 10px; margin-right: 10px;">H:</span>

                                            <select style = "flex: 0.8;" ng-model="injury_tlmm" aria-label="Time MM" class="required" ng-disabled="formActive == 0" ng-init="injury_tlmm = '00'">

                                                <option ng-repeat="m in mmList" value="{{m}}">

                                                    {{m}}

                                                </option>

                                            </select>
                                            
                                            <input type="text" readonly ng-model="injury_tlh" style="width: 70px; margin-left: 10px" ng-init="injury_tlh='0'">

                                        </div>

                                    </div>



                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Injured body part</label>

                                        <div class="col-sm-8">

                                            

                                            <select ng-model="ir.injuredbodypart_id" class="required" ng-disabled="formActive == 0" ng-init="ir.injuredbodypart_id = ''" ng-required="true">

                                                <option value="">Please select..</option>

                                                <option ng-repeat="n in bodypartList" value="{{n.id}}">

                                                    {{n.display_text}}

                                                </option>

                                            </select>   

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>

                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Eyewitness(es)</label>

                                        <div class="col-sm-8">

                                            <input type="text" class="" ng-model="ir.eyewitness" ng-required="required" aria-invalid="false" placeholder="Enter names separated by a comma" />

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>       

                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Insurer Notified</label>

                                        <div class="col-sm-8">

                                            <select ng-model="ir.insurer_notified" aria-label="Insurer notifued" ng-disabled="formActive == 0" ng-init="ir.insurer_notified = '0'">

                                                <option value="0">No</option>

                                                <option value="1">Yes</option>

                                            </select>                                            

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div> 



                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Insurer Notified Date</label>

                                        <div class="col-sm-8">

                                            <div class="field-container" ng-class="formEnabled==1 && ir.insurernotified_date.$valid == false ?'invalid' : ''">

                                                <div class="field">

                                                    <md-datepicker ng-model="ir.insurernotified_date" md-current-view="year" md-placeholder="" md-hide-icons="all" md-is-open="insdate.isOpen"></md-datepicker>

                                                </div>

                                                <div class="icon">

                                                    <button ng-click="insdate.isOpen = true">

                                                        <span class="glyphicon glyphicon-calendar"></span>

                                                    </button>

                                                </div>

                                            </div>

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>



                                    </div>

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">WorkCover CoC</label>

                                        <div class="col-sm-8">

                                            <div class="field-container" ng-class="formEnabled==1 && ir.workcover_date.$valid == false ?'invalid' : ''">

                                                <div class="field">

                                                    <md-datepicker ng-model="ir.workcover_date" md-current-view="year" md-placeholder="" md-hide-icons="all" md-is-open="wcdate.isOpen"></md-datepicker>

                                                </div>

                                                <div class="icon">

                                                    <button ng-click="wcdate.isOpen = true">

                                                        <span class="glyphicon glyphicon-calendar"></span>

                                                    </button>

                                                </div>

                                            </div>

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>



                                    </div>



                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">SafeWork Notified</label>

                                        <div class="col-sm-8">

                                            <select ng-model="ir.safework_notified" aria-label="Insurer notified" ng-disabled="formActive == 0" ng-init="ir.safework_notified = '0'">

                                                <option value="0">No</option>

                                                <option value="1">Yes</option>

                                            </select>

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div> 

                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">SafeWork Notified Date</label>

                                        <div class="col-sm-8">

                                            <div class="field-container" ng-class="formEnabled==1 && ir.safeworknotified_date.$valid == false ?'invalid' : ''">

                                                <div class="field">

                                                    <md-datepicker ng-model="ir.safeworknotified_date" md-current-view="year" md-placeholder="" md-hide-icons="all" md-is-open="sw.isOpen"></md-datepicker>

                                                </div>

                                                <div class="icon">

                                                    <button ng-click="sw.isOpen = true">

                                                        <span class="glyphicon glyphicon-calendar"></span>

                                                    </button>

                                                </div>

                                            </div>

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>                                     

                                    

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Investigated by</label>

                                        <div class="col-sm-8">

                                            <input type="text" class="" ng-model="ir.investigated_by"  aria-invalid="false" ng-required="true">

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>                                     

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Liklihood</label>

                                        <div class="col-sm-8">

                                            

                                            

                                            <select ng-model="ir.risk_likelihood" class="required" ng-disabled="formActive == 0" ng-init="liklihood_id = ''" ng-required="true" ng-change="calcFreq()">

                                                <option value="">Please select..</option>

                                                <option ng-repeat="l in liklihood_list" value="{{l.id}}">

                                                    {{l.display_text}}

                                                </option>

                                            </select> 

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Severity</label>

                                        <div class="col-sm-8">

                                            

                                            

                                            <select ng-model="ir.level_of_risk" class="required" ng-disabled="formActive == 0" ng-init="severity_id = ''" ng-required="true" ng-change="calcFreq()">

                                                <option value="">Please select..</option>

                                                <option ng-repeat="l in severity_list" value="{{l.id}}">

                                                    {{l.display_text}}

                                                </option>

                                            </select> 

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>

                                    </div>

                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Email Frequency</label>

                                        <div class="col-sm-8">

                                            <input type="text" class="" ng-model="ir.email_frequency" aria-invalid="false" disabled>

                                        </div>

                                    </div>



                                    <div class="form-group row">

                                        <label class="control-label col-sm-4 ng-binding">Date Closed</label>

                                        <div class="col-sm-8">

                                            <div class="field-container" ng-class="formEnabled==1 && ir.closed_date.$valid == false ?'invalid' : ''">

                                                <div class="field">

                                                    <md-datepicker ng-model="ir.closed_date" md-current-view="year" md-placeholder="" md-hide-icons="all" md-is-open="cldate.isOpen"></md-datepicker>

                                                </div>

                                                <div class="icon">

                                                    <button ng-click="cldate.isOpen = true">

                                                        <span class="glyphicon glyphicon-calendar"></span>

                                                    </button>

                                                </div>

                                            </div>

                                            <span style="display:none;" class="text-danger"></span>

                                        </div>



                                    </div>

                                    <emp-field fld-label="" fld-type="hidden" ng-model="ir.id"></emp-field>

                                    <emp-field fld-label="" fld-type="hidden" ng-model="ir.employee_id"></emp-field>

                                    <emp-field fld-label="" fld-type="hidden" ng-model="ir.account_id"></emp-field>

                                    <emp-field fld-label="" fld-type="hidden" ng-model="ir.updated_by"></emp-field>

                                    <emp-field fld-label="" fld-type="hidden" ng-model="ir.created_by"></emp-field> 

                                </div>

                            </div>

                        </div>

                        </fieldset>

                    </div>



                </md-content>

          </md-tab>



      </md-content>

    

        <div class="userMessage">&nbsp;

            <div id="log_er_msg"></div>

            <div id="login_error" class="col-xs-12" ng-show="showMessage == 1" style="float: none;">

                <div class="alert {{ success == 1 ? 'alert-success' : 'alert-danger'}} alert-dismissable" style="padding-right: 45px;">

                    <i class="fa fa-check"></i>

                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="showMessage = 0;">&times;</button>

                    {{ userMessage }}

                </div>

            </div>

        </div>



      <div class="buttons">

          <button ng-click="saveIR()" value="Submit" class="btn btn-primary" ng-class="{'disabled': injuryregisterform.$invalid == true}" ng-disabled="injuryregisterform.$invalid || formEnabled == 0">Submit</button>

          <button class="btn btn-info" ng-click="clearForm()" ng-disabled="formEnabled == 0" style="margin-left: 5px;">Clear</button>

      </div>



    <!-- --------------- END: Detail area ------------->

    </form>



</div>

