<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>
<style>
    @media (max-width: 767px) {
        .login-form-wrapper{
            width: 100%;
        }
        .login-form-wrapper fieldset{
            width: 100%!important;
        }
        html .login-form-wrapper .label{
            width: 20%;
        }
        .login-form-wrapper input{
            width: 60%;
        }
    }
</style>
<span class="shadow-top"></span>
<div class="login-form-wrapper">
    <form class="form-horizontal" name="employer_login_form">
        <fieldset>
            <div class="label">Username</div>
            <input type="text" ng-model="login.email" class="" placeholder="Enter username"  value="" />
        </fieldset>
        <fieldset>
            <div class="label">Password</div>
            
            <!-- updated by Alex-cobra -20-04-16 -->
            <!-- <input  type="password" ng-model="login.password" class="" placeholder="Enter Password"  value="" /> -->
            <mat-form-field>
                <input id="mysecretpassword" ng-model="login.password" type="password" placeholder="Enter Password">
                <i 
                  class="fa {{ isshow_password == 0 ? 'fa-eye' : 'fa-eye-slash' }} show-icon"
                  ng-click="show_password()" style="font-size: 15px !important;"
                ></i>
            </mat-form-field>
            <!-- // // // // // -->

        </fieldset>

        <!-- updated by Alex-cobra -20-04-14 -->
        <div class="userMessage">&nbsp;
            <div id="log_er_msg"></div>
            <div id="login_error" class="col-xs-12" ng-show="showMessage == 1">
                <div class="alert {{ success == 1 ? 'alert-success' : 'alert-danger'}} alert-dismissable">
                    <i class="fa {{ success == 1 ? 'fa-info-circle alert-icon-success' : 'fa-times-circle-o alert-icon-error'}} "></i>
                    <span style="padding-bottom: 3px;">{{ login.userMessage}}</span>
                </div>
            </div>
        </div>
        <!-- // // // // // -->

        <div class="buttons">
            <button type="button" ng-click="doLogin()" value="Login" class="btn btn-primary float-left">Login</button>
            <a href="#forgotpassword" class="btn btn-info float-left">Forgot Password</a>
            <div class="clear"></div>
        </div>
    </form>
</div>
