<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<style>
    .md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar { background: none; }
    fieldset { width: 99%; }
    .md-padding { padding: 0; }
    textarea { border: 1px solid #b6dde7;  width: 100%; height: 92px; border-radius: 4px; padding: 0 5px; }
    .center { text-align: center;}
    .autocomplete input { border: none; background-color: transparent; }
    
    small { font-size: 75%; font-weight: 400; opacity: .7; }
    input, select { width: 100%; }
    .time-group { display: flex; flex-direction: row; }
    .time-group select { flex: 1; }
    .time-group select:first-child { margin-right: 5px; }
    input, select, textarea { border: 1px solid #b6dde7; }
    md-tab-item span { opacity: 0;}
    .text-edit { font-size: 18px; color: #000; }
    .text-edit:hover { cursor: pointer; opacity: .7; }
    .text-danger { font-size: 18px; }
    .text-danger { cursor: pointer; opacity: .7; }    
    
    input.md-datepicker-input {
        display: block;
        width: 100%;
        height: 32px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 0 solid #b3dce6;
        border-radius: 4px;

        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .field-container { display: flex; flex-direction: row; border: 1px solid #b3dce6; height: 34px;  border-radius: 4px;    }    
    .field-container .field { width: 100%; }
    
    .field-container .icon { padding: 6px 12px; font-size: 14px; font-weight: normal; line-height: 1; color: #555; text-align: center; background-color: #eee; border: 0px solid #ccc; border-left: 1px solid #b3dce6; border-radius: 0;  }    
    .field-container .icon button { min-width: 20px; } 
    
    .radioset-wrapper { display: flex; flex-direction: row; }
    .radioset { display: flex; flex-direction: row; align-items: center; margin: 0 6px 0;}
    .radioset input[type="radio"] { margin: 0 5px 0 0; height: 16px; width: 16px; }
    
    .md-datepicker-input-container { border-bottom: none; }
    button.new-ir { float: right;  }

    .buttons { justify-content: center; }
    
    fieldset[disabled="disabled"] textarea,
    fieldset[disabled="disabled"] select,
    fieldset[disabled="disabled"] .field,
    fieldset[disabled="disabled"] input { background-color: #EEE;}
    
    .form-group { display: flex; align-items: center;}
    
     @media only screen and (max-width: 600px) {
         .container { padding: 0 !important; }         
     }
     
    .md-whiteframe-1dp, .md-whiteframe-z1 {
        box-shadow: none;
        border: 1px solid #b6dde7;
        border-radius: 6px;
        height: 36px;
    }  
    md-autocomplete input:not(.md-input) {
        height: 34px;
    }
    md-autocomplete button {
        margin-right: -20px;
    }
    
    md-virtual-repeat-container:first-child {
        background-color: red !important;
    }
    
    /*.course-supervisor md-virtual-repeat-container.md-autocomplete-suggestions-container {*/
    .md-virtual-repeat-container.md-autocomplete-suggestions-container {
        border-top: none;
        border-radius: 0;
        box-shadow: 0px 7px 14px rgba(0,0,0,.25) !important;
    }
    
    .icon button { background-color: transparent; border: none; }
    
    .injuryregister-grid {
        height: 250px;
        margin-top: 5px;
    }
     
</style>

<div class="container" id="injuryregister">
    <h3>{{pageTitle}}</h3>
    
    <button class="new-ir btn btn-primary" ng-click="newForm()" ng-disabled="perms.modifypreviewform.write == 0">Add New Form</button>
    <div class="clear"></div>
    <div class="grid injuryregister-grid" external-scopes="clickHandler" ui-grid="gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui.grid.selection></div>
    
    <form name="performanceform" ng-class="{'disabled': formEnabled == 0}" novalidate>
    
    <!-- --------------- Detail area ------------->
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Create or Edit Form">
                <md-content class="md-padding">

                    <div id="tab1" class="tab-pane fade in active">
                        <fieldset ng-disabled="formEnabled == 0">
                            
                        <div class="col-md-12 tabborder"  style="border-width:0px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row" ng-if="edit_option == 1 && perms.modifypreviewform.write == 1">
                                        <label class="control-label col-sm-4 ng-binding">Form Edit Option</label>
                                        
                                        <div class="col-sm-8">
                                            <md-radio-group ng-model="mdr.form_edit_option" ng-change="changeFormEditOption()">
                                                <md-radio-button value="1" class="md-primary">Edit Form</md-radio-button>
                                                <md-radio-button value="0">Reallocate Form</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4 ng-binding">Employee Name</label>
                                        <div class="col-sm-8">
                                            
                                            <md-autocomplete flex ng-required="formEnabled"                  
                                                 md-input-name="employee_name"
                                                 md-no-cache="cs.noCache"
                                                 md-selected-item="employee_name"
                                                 md-search-text="cs.searchText"
                                                 md-selected-item-change="doSelectedEmployee(item)"
                                                 md-items="item in empSearch(cs.searchText)"
                                                 md-item-text="item.name"
                                                 md-require-match ng-disabled="perms.modifypreviewform.write == 0">
                                                 <md-item-template>
                                                     <span md-highlight-text="cs.searchText">{{item.name}}</span>
                                                 </md-item-template>
                                             </md-autocomplete>                                             
                                            
                                            <span style="display:none;" class="text-danger"></span>
                                        </div>
                                     </div>   
                                     <div class="form-group row">
                                        <label class="control-label col-sm-4" for="empw_rto">Employee Position</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="performance_form.position" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4" for="empw_rto">Start Date</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="performance_form.start_date" ng-disabled="true">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4" for="empw_rto">Site Location</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="performance_form.site_location" ng-disabled="true">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4 ng-binding">Manager Name</label>
                                        <div class="col-sm-8">
                                            <md-autocomplete flex ng-required="formEnabled" 
                                                             md-input-name="manager_name" 
                                                             md-no-cache="ew.noCache" 
                                                             md-selected-item="manager_name" 
                                                             md-search-text="ew.searchText"
                                                             md-selected-item-change="doSelectedManager(item)" 
                                                             md-items="item in mngrSearch(ew.searchText)"
                                                             md-item-text="item.name" 
                                                             md-require-match ng-disabled="perms.modifypreviewform.write == 0">
                                                <md-item-template>
                                                    <span md-highlight-text="ew.searchText">{{item.name}}</span>
                                                </md-item-template>
                                            </md-autocomplete>
                                            
                                        </div>
                                    </div>                               
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4" for="empw_license_name">Frequency</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="performance_form.frequency"
                                                ng-init="performance_form.frequency=''" ng-disabled="perms.modifypreviewform.write == 0" ng-required="formEnabled">
                                                <option value="">Please select..</option>
                                                <option value="1">1 month</option>
                                                <option value="2">2 months</option>
                                                <option value="3">3 months</option>
                                                <option value="6">6 months</option>
                                                <option value="12">12 months</option>
                                            </select>
                                            <span id="lq_error" style="display:none;" class="text-danger">Select Frequency</span>
                                        </div>
                                    </div>        
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4" for="empw_license_name">Email Poor/Passable Score to Manager</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="performance_form.email_score" ng-disabled="perms.modifypreviewform.write == 0" ng-required="formEnabled">
                                                <option>Please select..</option>
                                                <option value="0">No</option>
                                                <option value="1">Yes</option>
                                            </select>
                                            <span id="lq_error" style="display:none;" class="text-danger">Select Frequency</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-header" style="text-align: center;font-size: 18px;font-weight: bold; margin: 20px 0px;"><span>{{selected_employee_name}}</span></div>
                                <table class="table table-striped" id="course_table" style="table-layout: fixed; width: 100%; margin-bottom:0;border: 1px solid rgb(138, 138, 138)">
                                    <thead style="background-color: #b3dce6; color: white;">
                                        <tr>
                                            <th style="text-align: center;width:5%;vertical-align: text-top"></th>
                                            <th style="text-align: center;width:50%;vertical-align: text-top">Criteria</th>
                                            <th style="text-align: center;width:45%;vertical-align: text-top">
                                                <div style="width:19%;display:inline-block">Poor</div>
                                                <div style="width:19%;display:inline-block">Passable</div>
                                                <div style="width:19%;display:inline-block">Average</div>
                                                <div style="width:19%;display:inline-block">Good</div>
                                                <div style="width:19%;display:inline-block">Excellent</div>
                                            </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border: 1px solid rgb(138, 138, 138)" ng-repeat="question in standardQuestionList" ng-if="formEnabled">
                                            <td style="text-align: center;width:5%;vertical-align: middle;word-wrap: break-word">
                                                {{$index + 1}}
                                            </td>
                                            <td style="text-align: center;width:50%;vertical-align: middle;word-wrap: break-word">
                                                <textarea class="form-control" ng-model="question.question_text"
                                                    placeholder="Enter Question..." rows="2" ng-required = "formEnabled" ng-disabled="perms.modifypreviewform.write == 0">
                                                </textarea>
                                            </td>
                                            <td style="text-align: center;width:45%;vertical-align: middle;word-wrap: break-word;padding-left:4%">
                                                <md-radio-group layout="row">
                                                    <md-radio-button value="" style="width:22%" ng-disabled="true"></md-radio-button>
                                                    <md-radio-button value="" style="width:22%" ng-disabled="true"></md-radio-button>
                                                    <md-radio-button value="" style="width:22%" ng-disabled="true"></md-radio-button>
                                                    <md-radio-button value="" style="width:22%" ng-disabled="true"></md-radio-button>
                                                    <md-radio-button value="" style="width:16%" ng-disabled="true"></md-radio-button>
                                                </md-radio-group>
                                            </td>
                                        </tr>
                                        <tr style="border: 1px solid rgb(138, 138, 138)" ng-repeat="question in performance_form.specializedQuestionList">
                                                <td style="text-align: center;width:5%;vertical-align: middle;word-wrap: break-word">
                                                    {{13 + $index}}
                                                </td>
                                                <td style="text-align: center;width:50%;vertical-align: middle;word-wrap: break-word">
                                                    <textarea class="form-control" ng-model="question.question_text"
                                                        placeholder="Enter Question..." rows="2" ng-required = "formEnabled" ng-disabled="perms.modifypreviewform.write == 0">
                                                    </textarea>
                                                </td>
                                                <td style="text-align: center;width:45%;vertical-align: middle;word-wrap: break-word;padding-left:4%">
                                                    <md-radio-group layout="row">
                                                        <md-radio-button value="" style="width:22%" ng-disabled="true"></md-radio-button>
                                                        <md-radio-button value="" style="width:22%" ng-disabled="true"></md-radio-button>
                                                        <md-radio-button value="" style="width:22%" ng-disabled="true"></md-radio-button>
                                                        <md-radio-button value="" style="width:22%" ng-disabled="true"></md-radio-button>
                                                        <md-radio-button value="" style`="width:16%" ng-disabled="true"></md-radio-button>
                                                    </md-radio-group>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </fieldset>
                    </div>

                </md-content>
          </md-tab>

      </md-content>
    
        <div class="userMessage">&nbsp;
            <div id="log_er_msg"></div>
            <div id="login_error" class="col-xs-12" ng-show="showMessage == 1" style="float: none;">
                <div class="alert {{ success == 1 ? 'alert-success' : 'alert-danger'}} alert-dismissable" style="padding-right: 45px;">
                    <i class="fa fa-check"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="showMessage = 0;">&times;</button>  
                    {{ userMessage }}
                </div>
            </div>
        </div>        
        
      <div class="buttons">
          <button ng-click="addQuestion()" value="Submit" class="btn btn-danger" ng-class="{'disabled': formEnabled == 0}" ng-disabled="formEnabled == 0 || perms.modifypreviewform.write == 0" >Add Question</button>
          <button ng-click="delQuestion()" value="Submit" class="btn btn-warning" ng-class="{'disabled': formEnabled == 0 || performance_form.specializedQuestionList.length == 0}" ng-disabled="formEnabled == 0 || performance_form.specializedQuestionList.length == 0 || perms.modifypreviewform.write == 0" style="margin-left: 5px;">Delete Question</button>
          <button ng-click="saveForm()" value="Submit" class="btn btn-primary" ng-class="{'disabled': performanceform.$invalid == true}" ng-disabled="performanceform.$invalid || formEnabled == 0 || perms.modifypreviewform.write == 0" style="margin-left: 5px;">Submit</button>
          <button class="btn btn-info" ng-click="clearForm()" ng-disabled="formEnabled == 0 || perms.modifypreviewform.write == 0" style="margin-left: 5px;">Clear</button>
      </div>

    <!-- --------------- END: Detail area ------------->
    </form>

</div>
