<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<!-- updated by Alex-cpbra -20-04-14 -->
<style>
    .percent-num {
        font-size: 14px;
    }
</style>
<!-- // // // // // -->

<span class="shadow-top"></span>
<div class="login-form-wrapper" id="resetpwform">

    <h3>Reset Password</h3>


    <div class="alert alert-danger user-message" ng-show="showLinkerror == 1">
        {{ userMessage }}
    </div>


    <form action="" name="resetpwform" ng-show="showLinkerror == 0">
        <fieldset>
            <div class="label">Username</div>
            <div class="field-value" style="width: 200px; text-align: left;">{{ reset.username }}</div>
        </fieldset>

        <fieldset>
            <div class="label">New Password</div>
            <input type="password" ng-model="reset.password" ng-keyup="checkpasswordStength($event, reset.password)" placeholder="Enter new password" ng-required="true" />
        </fieldset>

        <fieldset>
            <div class="label">Confirm password</div>
            <input type="password" ng-model="reset.confirmpassword" placeholder="Confirm password" ng-required="true" />
        </fieldset>

        <div class="user-progress-message" ng-show="showMessage != 1">{{ userProgressMessage }}&nbsp;</div>
        
        <!-- updated by Alex-cobra -20-04-14 -->
        <!-- <div class="alert alert-success user-message" ng-show="showMessage == 1"> -->
        <div class="alert alert-danger user-message" ng-show="showMessage == 1">
        <!-- // // // // // -->
        
            {{ userMessage }}&nbsp;
        </div>

        <div class="buttons">
            <button type="button" ng-click="doResetPassword()" class="btn btn-primary" ng-class="{'disabled': resetpwform.$invalid }" ng-disabled="resetpwform.$invalid">Submit</button>
            <a href="#login" class="btn btn-danger">Cancel</a>
        </div>

        <!-- The rotating arrow -->
        <div class="arrowCap"></div>
        <div class="arrow" ng-style="arrowStyle"></div>
        
        <!-- updated by Alex-cobra -20-04-14 -->
        <p class="percent-num">{{ userProgressPercent }}</p>
        <!-- // // // // // -->

    </form>
</div>
