<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<!-- updated by Alex-cpbra -20-04-14 -->
<style>
    .flex-row{
        display: flex;
        flex-direction: row;
    }
    .align-items-center{
        align-items: center;
    }
    .text-left{
        text-align: left;
    }
    .mt-10{
        margin-top: 10px;
    }
    .percent-num {
        font-size: 14px;
        font-weight: 800;
    }
    .passgen-modal input[type='text']{
        width: 100%;
    }
    .passgen-modal input[type='radio']{
        margin-top: 0px;
        margin-right: 10px;
        width: unset;
    }
</style>
<!-- // // // // // -->

<span class="shadow-top"></span>
<div class="login-form-wrapper" id="resetpwform">

    <h3>Reset Password</h3>


    <div class="alert alert-danger user-message" ng-show="showLinkerror == 1">
        <i class="fa fa-times-circle-o alert-icon-error"></i>
        {{ userMessage }}
    </div>


    <form action="" name="resetpwform" ng-show="showLinkerror == 0">
        <fieldset>
            <div class="label">Username</div>
            <div class="field-value" style="width: 200px; text-align: left;">{{ reset.username }}</div>
        </fieldset>

        <fieldset>
            <div class="label">New Password</div>
            <input type="password" ng-model="reset.password" ng-keyup="checkpasswordStength($event, reset.password)" placeholder="Enter new password" ng-required="true" />
        </fieldset>

        <fieldset>
            <div class="label">Confirm password</div>
            <input type="password" ng-model="reset.confirmpassword" placeholder="Confirm password" ng-required="true" />
        </fieldset>

        <div class="user-progress-message">{{ userProgressMessage }}&nbsp;</div>
        
        <!-- updated by Alex-cobra -20-04-14 -->
        <!-- <div class="alert alert-success user-message" ng-show="showMessage == 1"> -->
        
        <div class="buttons">
            <button type="button" ng-click="showModal()" class="btn btn-success">Generator</button>
            <button type="button" ng-click="doResetPassword()" class="btn btn-primary" ng-class="{'disabled': resetpwform.$invalid }" ng-disabled="resetpwform.$invalid">Submit</button>
            <a href="#login" class="btn btn-danger">Cancel</a>
        </div>

        <!-- The rotating arrow -->
        <div class="arrowCap"></div>
        <div class="arrow" ng-style="arrowStyle"></div>
        
        <!-- updated by Alex-cobra -20-04-14 -->
        <p class="percent-num">{{ userProgressPercent }}</p>
        <!-- // // // // // -->

    </form>
    
    <div class="alert alert-danger user-message" ng-show="showMessage == 1 && success==0">
        <i class="fa fa-times-circle-o alert-icon-error" ng-show="success==0"></i>
        <i class="fa fa-check-circle-o alert-icon-success" ng-show="success==1"></i>
        {{ userMessage }}&nbsp;
    </div>
    <div class="alert alert-success user-message" ng-show="showMessage == 1 && success==1">
    <!-- // // // // // -->
        <i class="fa fa-times-circle-o alert-icon-error" ng-show="success==0"></i>
        <i class="fa fa-check-circle-o alert-icon-success" ng-show="success==1"></i>
        {{ userMessage }}&nbsp;
        <span ng-show="success==1">After {{countDown}} seconds, you will be redirected to login page. <a href="/#/login">Click here</a> if you want to be redirected now.</span>
    </div>
    <div
        close="cancel()"
        class="passgen-modal"
        style="background-color: white; width: 350px; height: 280px; margin: auto;"
        modal="showModalVariable">
        <div class="modal-header">
            <h4>Password Generator</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" ng-model="passwordInput" id="passwordInput" class="form-control" readonly>
                </div>
                <div class="col-md-12 text-left">
                    <button class="btn btn-primary mt-10" ng-click="generatePassword()">Generate Password</button>
                </div>
                <div class="col-md-12">
                    <div class="flex-row align-items-center">
                        <input type="radio" ng-click="copyPassword()">  
                        I have copied this password in a safe place.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="usePassword()" ng-disabled="copied!=1">Use Password</button>
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
    </div>
</div>

