<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<style>
    .info-container { margin-top: 20px; width: 500px; }
    .info-container label { padding-top: 6px; text-align: right; }
    .buttons { justify-content: center; }
    
    .new-data { float: right; margin-bottom: 5px;}
    
    @media only screen and (max-width: 600px) {
        html body { padding: 0; }
        input[type="radio"] { width: 32px; margin-bottom: 5px; }  
        .answer-wrapper { display: flex; align-items: center; margin-bottom: 5px;}
        form[name="sdform"] { overflow-x: hidden;}
        fieldset{width: 100%;}
        fieldset >.info-container{ width: 100%; }
        
    }   
    

</style>



<div class="container" id="info">
    <h3>{{pageTitle}}</h3>

    <button class="new-data btn btn-primary" ng-click="newInfoText()">New</button> 
    <div class="clear"></div>
    <div class="grid info-grid" external-scopes="clickHandler" ui-grid="gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui.grid.selection></div>    
    
    <form name="sdform" ng-class="{'disabled': formEnabled == 0}">
        <fieldset ng-disabled="formEnabled == 0">
            <div class="info-container">
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="state">Info Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="it.type" ng-required="formEnabled == 1" ng-change="onInfoTypeChanged()" ng-init="sd.type=''">
                            <option value="">Please select..</option>
                            <option value="{{s}}" ng-repeat="s in typeList">{{ s }}</option>
                            <option value="other">Other</option>
                        </select>
                        <span id="errormsg_emp_state_id" style="display:none;" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group row" ng-show="it.type=='other'">
                    <label class="control-label col-sm-4"></label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="new_type">
                    </div>
                </div>

                <emp-field fld-label="Info Value" ng-model="it.value" ng-required="formEnabled == 1"></emp-field>
                <div class="row">
                    <Label class="col-md-4">Info Text</Label>
                    <div class="col-md-8">
                        <textarea rows="5" class="form-control" style="width: 100%" ng-model="it.text" ng-required="formEnabled == 1"></textarea>
                    </div>
                </div>
                <emp-field fld-label="" fld-type="hidden" ng-model="it.id"></emp-field>
            </div>
            <div class="notificationMessage">
                <div class="col-xs-12" ng-show="showMessage == 1" style="float: none;">
                    <div class="alert {{ success == 1 ? 'alert-success' : 'alert-danger'}} alert-dismissable" style="padding-right: 45px;">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="showMessage = 0;">&times;</button>
                        {{ notificationMessage }}
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button ng-click="saveInfoText()" value="Submit" class="btn btn-primary" ng-disabled="sdform.$invalid || formEnabled == 0">Submit</button>
                <button class="btn btn-info" ng-click="clearForm()" ng-disabled="formEnabled == 0" style="margin-left: 5px;">Clear</button>
            </div>    
        </fieldset>
    </form>
</div>