<div id="terms_and_conditions">
<h1 style="text-align: center;">ERIS Terms and Conditions</h1>
<ol>
    <li><h4>Introduction</h4>
        <p>The Terms of Use of the Employment Relations Information System (ERIS) website include these Terms and Conditions and any other terms and conditions that appear in or are linked to ERIS (Additional Terms and Conditions).</p>
        <p>These Terms and Conditions and any Additional Terms and Conditions that may appear on ERIS will govern your use of, and access to, information and resources on ERIS.</p>
    </li>

    <li><h4>General disclaimer</h4>
        <p>ERIS is an online information system created by MTA NSW for the vehicle industry and in particular, current MTA members. </p>
        <p>MTA NSW's commitment to current users of ERIS is to take reasonable and practical steps to: </p>
        <ul>
            <li>Ensure the information contained in ERIS is current and up to date</li>
            <li>Ensure the information contained in ERIS is secure</li>
            <li>Protect the integrity of ERIS including your data</li>
            <li>Ensure all user information is available upon request (for subscribers)</li>
        </ul>
    </li>

    <li><h4>Website content and access</h4>
        <p>While the Motor Traders Association of New South Wales (MTA NSW) endeavours to take reasonable care in preparing and maintaining the information on ERIS we do not warrant the accuracy, reliability, adequacy or completeness of any of the content on ERIS. You acknowledge and accept that the content on ERIS may include technical inaccuracies and typographical errors. You acknowledge and accept that the content on ERIS is subject to change at any time without notice and may not necessarily be up to date or accurate at the time you view it.</p>

        <p>It is your responsibility to enquire with us directly to ensure the accuracy and currency of the material or information you seek to rely upon. To the extent permitted by law, including the Competition and Consumer Act 2010 (Cth), MTA NSW disclaims all liability for loss directly or indirectly arising from your use of or reliance on ERIS and the content on ERIS.</p>

        <p>MTA NSW does not guarantee that access to ERIS will be uninterrupted or that the ERIS website is free from viruses or anything else which may damage any computer which accesses ERIS or any data on such a computer.</p>

        <p>MTA NSW reserves the right to modify or discontinue the service with or without notice to the ERIS subscribers. ERIS subscribers acknowledge and accept that MTA NSW does not guarantee a continuous, uninterrupted service through ERIS and that the operation of ERIS may be interfered with or adversely affected by many factors and/or circumstances beyond our control such as internet unavailability.</p>

        <p>You agree to provide MTA NSW with full access to any content you add into ERIS, including but not limited to the Autosafe Database, Policy Builder, Annual Leave Calculator and Long Service Leave Calculator. </p>

        <p>You have responsibility for protecting your username and login details for ERIS. Furthermore you are responsible for any employee you create as a user and manage through ERIS. Any employee you create as a user and share username and login details with is also bound by these terms and conditions of use. </p>

        <p>You understand that if you cease your MTA membership, access to ERIS will cease and no refund will be made for such cancellation.  This is because it is a requirement for all ERIS users to be current MTA members. Failure to pay the subscription for ERIS by the due date or in the event payment is not received by MTA NSW, will result in denial of access to ERIS and in such an event, MTA NSW will not accept responsibility for any inconvenience or loss.</p>

        <p>Telephone support is available for ERIS users. For NSW and ACT ERIS users, please contact MTA NSW on {{ mtaphone }} between the hours of 9am to 5pm, Monday to Friday (excluding NSW public holidays and the close down period between Christmas and New Year).</p>
    </li>

    <li><h4>Limitation of liability</h4>
        <p>Although great care and careful planning has been used by MTA NSW to ensure the information on ERIS is correct, in no event shall MTA NSW or its agents be liable for any special, indirect, or consequential damages resulting from the loss of use, data or profits, whether in action of contract, negligence or other action, arising out of or in connection with the use or the performance of ERIS, or any documentation or information available within ERIS.</p>
    </li>

    <li><h4>Intellectual property</h4>
        <p>The information contained in ERIS is the property of MTA NSW and is protected by copyright, trademark and other intellectual property legislation. Any such content may be displayed and printed solely for your personal, non-commercial use within your organisation provided that any copyright notice on such a display or page is not removed. You agree not to reproduce, retransmit, distribute, disseminate, sell, publish, broadcast or circulate any such material to any third party without the express prior written consent of MTA NSW. This includes Members and Non-Members of MTA NSW and any other third party.</p>
        <p>Unless expressly granted by MTA NSW, MTA NSW does not grant any licence or right in, or assign all or part of, its intellectual property rights in the content or applications incorporated into ERIS or in the user interface of ERIS.</p>
    </li>

    <li><h4>Submissions</h4>
        <p>Any material you send to us on or via ERIS will be deemed to be non-confidential and non-proprietary. This includes any data, questions, comments, suggestions, ideas or other information. We will be entitled to use any such material which has not been indicated to be confidential or proprietary for any purpose without compensation to you.  Despite this, MTA NSW accepts that in relation to your confidential or proprietary information submitted to the Autosafe Database, Policy Builder, Annual Leave Calculator, Long Service Leave Calculator or any other future sections or systems of ERIS allowing for the submission of such information  , MTA NSW will take reasonable or practical steps to maintain such confidential or proprietary information and such material will continue to be made available provided that, if you cease your membership with MTA NSW or fail to re-subscribe to ERIS, the provision of your confidential or proprietary information will be at cost.</p>
    </li>

    <li><h4>Third party websites</h4>
        <p>ERIS may contain links to other websites operated, controlled or produced by third parties. Unless otherwise indicated, ERIS does not control, endorse, sponsor or approve any such third party websites or their content nor does ERIS provide any warranty or take any responsibility whatsoever for any aspect of those websites or their content.</p>
    </li>

    <li><h4>Links to ERIS</h4>
        <p>If you wish to establish a link to ERIS, you must first seek approval from the Employment Relations Manager of MTA NSW. To seek approval, please contact MTA NSW on {{ mtaphone }}.</p>
        <p>The following information will be required to assess your request:</p>
        <ol>
            <li>The URL of the website that you seek to establish a link from</li>
            <li>A brief description of your website; and </li>
            <li>The reason that you wish to establish a link</li>
        </ol>
        <p>If MTA NSW agrees to your proposed link, you must comply with any terms and conditions imposed by MTA NSW as a condition of such agreement. If the nature and/or content of your website changes in any significant way, you must contact MTA NSW and provide a new description of your website.</p>
    </li>

    <li><h4>Interference with website</h4>
        <p>You must not attempt to change, add to, remove, deface, hack or otherwise interfere with this website or any material or content displayed on ERIS.</p>
    </li>

    <li><h4>Jurisdiction</h4>
        <p>These Terms and Conditions are governed by and construed in accordance with the State of New South Wales, Australia and the Commonwealth. In the event that a dispute arises from these Website Terms and Conditions, you agree to submit to the non-exclusive jurisdiction of the courts of New South Wales, Australia.</p>
    </li>
</ol>
</div>
